@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.home {
    padding: 40px 0 71px;
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), 
        url('../../images/pexels-alexandr-podvalny-1227513.jpg'), 
        lightgray -952.661px -317.009px / 342.315% 164.03% no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: getColor('main');
    text-align: center;

    @media screen and (min-width: $tablet) {
        padding: 89px 0 88px;
        background-size: contain;
    }
    
    @media screen and (min-width: $desktop) {
        padding: 164px 0 163px;
    }
}

.title {
    margin: 0 auto;
    @include font(40px, 40px);

    @media screen and (min-width: $tablet) {
        width: 380px;
    }
}

.paragraph {
    margin: 21px auto 0;
    @include font();

    @media screen and (min-width: $tablet) {
        width: 380px;
    }
}

.buttonHome {
    margin-top: 32px;
}