@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.form {
    margin: 50px auto 0;
    width: 100%;

    @media screen and (min-width: $tablet) {
        width: 380px;
    }
}

.buttonSubmit {
    display: block;
    margin: 50px auto 0;
}

.labelInputRadioBox {
    margin-top: 43px !important;
}

.labelInputPhotoUpload {
    margin-top: 47px !important;
}