@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.listUsers {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 20px;

    @media screen and (min-width: $tablet) {
        gap: 16px;
        grid-template-columns: repeat(2, calc((100% - 16px) / 2));
    }

    @media screen and (min-width: $desktop) {
        gap: 29px;
        grid-template-columns: repeat(3, calc((100% - 29px * 2) / 3));
    }
}