@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.footer {
    padding: 0 0 100px;
}

.title {
    margin: 0 auto;
    text-align: center;
    @include font(40px, 40px);
}